@media screen and (max-width: 480px) {
  .custom-position-text {
    font-size: 2.5rem;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }

  .custom {
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
  }

  .intro-custom {
    margin-top: -80px;
    margin-left: 40%;
  }

  .intro-custom-2 {
    margin-top: 50px;
    margin-bottom: 70px;
  }

  .con1-custom {
    height: 130px;
    width: 130px;
    background-color: #7d8292;
    overflow: hidden;
    position: relative;
    border-radius: 50%;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    top: 2rem;
    left: 5%;
  }

  .img-custom-small {
    width: 100%;
    margin-top: -25px;
    margin-left: -2px;
  }
}

@media screen and (min-width: 481px) and (max-width: 576px) {
  .custom-position-text {
    font-size: 3rem;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }

  .custom {
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
  }

  .intro-custom {
    margin-top: -80px;
    margin-left: 40%;
  }

  .intro-custom-2 {
    margin-top: 50px;
    margin-bottom: 70px;
  }

  .con1-custom {
    height: 150px;
    width: 150px;
    background-color: #7d8292;
    overflow: hidden;
    position: relative;
    border-radius: 50%;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    top: 3.5rem;
    left: 8%;
  }

  .img-custom-small {
    width: 100%;
    margin-top: -25px;
    margin-left: -2px;
  }
}

@media screen and (min-width: 577px) and (max-width: 670px) {
  .custom-position-text {
    font-size: 3rem;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }

  .custom {
    font-size: 1.1rem;
    font-family: Arial, Helvetica, sans-serif;
  }

  .intro-custom {
    margin-top: -80px;
    margin-left: 45%;
  }

  .intro-custom-2 {
    margin-top: 60px;
    margin-bottom: 70px;
  }

  .con1-custom {
    height: 170px;
    width: 170px;
    background-color: #7d8292;
    overflow: hidden;
    position: relative;
    border-radius: 50%;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    top: 4rem;
    left: 11%;
  }

  .img-custom-small {
    width: 100%;
    margin-top: -25px;
    margin-left: -2px;
  }
}

@media screen and (min-width: 671px) and (max-width: 767px) {
  .custom-position-text {
    font-size: 3rem;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }

  .custom {
    font-size: 1.1rem;
    font-family: Arial, Helvetica, sans-serif;
  }

  .intro-custom {
    margin-top: -80px;
    margin-left: 45%;
  }

  .intro-custom-2 {
    margin-top: 60px;
    margin-bottom: 70px;
  }

  .con1-custom {
    height: 170px;
    width: 170px;
    background-color: #7d8292;
    overflow: hidden;
    position: relative;
    border-radius: 50%;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    top: 4rem;
    left: 16%;
  }

  .img-custom-small {
    width: 100%;
    margin-top: -25px;
    margin-left: -2px;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .custom-position-text {
    font-size: 4rem;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }

  .custom {
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
  }

  .intro-custom {
    margin-top: 90px;
  }

  .intro-custom-2 {
    margin-top: 30px;
    margin-bottom: 70px;
  }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .custom-position-text {
    font-size: 4rem;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }

  .custom {
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
  }

  .intro-custom {
    margin-top: 90px;
  }

  .intro-custom-2 {
    margin-top: 30px;
    margin-bottom: 70px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1399px) {
  .custom-position-text {
    font-size: 4rem;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }

  .custom {
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
  }

  .intro-custom {
    margin-top: 90px;
  }

  .intro-custom-2 {
    margin-top: 30px;
    margin-bottom: 70px;
  }
}

@media screen and (min-width: 1400px) {
  .custom-position-text {
    font-size: 5rem;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }

  .custom {
    font-size: x-large;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  .intro-custom {
    margin-top: 120px;
  }

  .intro-custom-2 {
    margin-top: 60px;
    margin-bottom: 100px;
  }
}
