.navbar {
  background-color: #757a89;
  width: 100%;
  top: 0;
}

.nav-item .custom-text-color {
  color: #ffffff;
}

.nav-item .custom-text-color:visited {
  color: #ffffff;
}

.nav-item .custom-text-color:hover {
  color: #00ff1a;
}

@media screen and (max-width: 480px) {
  .nav-item {
    font-size: 13px;
  }

  .navbar-nav {
    padding: 25px;
  }
}

@media screen and (min-width: 481px) and (max-width: 576px) {
  .nav-item {
    font-size: 14px;
  }

  .navbar-nav {
    padding: 10px;
  }
}

@media screen and (min-width: 577px) and (max-width: 767px) {
  .nav-item {
    font-size: 16px;
  }

  .navbar-nav {
    padding: 13px;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .nav-item {
    font-size: 16px;
  }

  .navbar-nav {
    padding: 14px;
  }
}

@media screen and (min-width: 992px) {
  .nav-item {
    padding-left: 2px;
    padding-right: 2px;
  }

  .navbar-nav {
    padding: 16px;
  }
}
