@media screen and (max-width: 480px) {
  .square-size {
    width: 6rem;
    height: 6rem;
  }

  .custom-skills-h1 {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    letter-spacing: 4px;
    margin-bottom: 60px;
    font-size: 2.5rem;
    margin-top: -50px;
  }

  .custom-img {
    height: 75px;
    width: 150px;
    margin-top: 12px;
    margin-bottom: 50px;
    margin-left: -25px;
  }

  .custom-img-html {
    margin-top: 15px;
    margin-bottom: 60px;
    height: 70px;
    width: 60px;
  }

  .custom-img-css {
    margin-top: 10px;
    margin-bottom: 50px;
    height: 80px;
    width: 100px;
  }

  .custom-img-sql {
    margin-top: 20px;
    margin-bottom: 25px;
    height: 50px;
    width: 70px;
  }

  .custom-img-react {
    margin-top: 20px;
    height: 60px;
    width: 95px;
  }
}

@media screen and (min-width: 481px) and (max-width: 576px) {
  .square-size {
    width: 8rem;
    height: 8rem;
  }

  .custom-skills-h1 {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    letter-spacing: 4px;
    margin-bottom: 60px;
    font-size: 2.5rem;
    margin-top: -100px;
  }

  .custom-img {
    height: 85px;
    width: 170px;
    margin-top: 20px;
    margin-bottom: 50px;
    margin-left: -20px;
  }

  .custom-img-html {
    margin-top: 25px;
    margin-bottom: 60px;
    height: 80px;
    width: 4rem;
  }

  .custom-img-css {
    margin-top: 20px;
    margin-bottom: 50px;
    height: 90px;
    width: 7rem;
  }

  .custom-img-sql {
    margin-top: 25px;
    margin-bottom: 25px;
    height: 70px;
    width: 6rem;
  }

  .custom-img-react {
    margin-top: 25px;
    margin-bottom: 25px;
    height: 85px;
    width: 8rem;
  }
}

@media screen and (min-width: 577px) and (max-width: 767px) {
  .square-size {
    width: 9.5rem;
    height: 9.5rem;
  }

  .custom-skills-h1 {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    letter-spacing: 4px;
    margin-bottom: 60px;
    font-size: 2.5rem;
    position: relative;
    margin-top: -50px;
  }

  .custom-skills-awal {
    bottom: 60px;
    left: 50%;
    transform: translate(-50%);
    width: 100%;
  }

  .custom-img {
    height: 95px;
    width: 13rem;
    margin-top: 25px;
    margin-bottom: 50px;
    margin-left: -28px;
  }

  .custom-img-html {
    margin-top: 30px;
    height: 95px;
    width: 5rem;
  }

  .custom-img-css {
    margin-top: 25px;
    height: 105px;
    width: 8.5rem;
  }

  .custom-img-sql {
    margin-top: 30px;
    height: 80px;
    width: 8rem;
  }

  .custom-img-react {
    margin-top: 30px;
    height: 95px;
    width: 9rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .square-size {
    width: 13rem;
    height: 13rem;
  }

  .custom-skills-h1 {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    letter-spacing: 4px;
    margin-bottom: 60px;
    font-size: 2.5rem;
    position: relative;
    margin-top: -100px;
  }

  .custom-skills-awal {
    bottom: 40px;
    left: 50%;
    transform: translate(-50%);
    width: 100%;
  }

  .card:hover {
    background-color: rgb(163, 163, 255);
  }

  .custom-img {
    height: 135px;
    width: 17rem;
    margin-top: 35px;
    margin-left: -30px;
  }

  .custom-img-html {
    margin-top: 40px;
    height: 130px;
    width: 7rem;
  }

  .custom-img-css {
    margin-top: 30px;
    height: 150px;
    width: 11rem;
  }

  .custom-img-sql {
    margin-top: 45px;
    height: 110px;
    width: 10rem;
  }

  .custom-img-react {
    margin-top: 45px;
    height: 135px;
    width: 13rem;
  }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .square-size {
    width: 13rem;
    height: 13rem;
  }

  .custom-skills-h1 {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    letter-spacing: 4px;
    margin-bottom: 60px;
    font-size: 2.5rem;
    position: relative;
    margin-top: -100px;
  }

  .custom-skills-awal {
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);
    width: 100%;
  }

  .custom-img {
    height: 135px;
    width: 17rem;
    margin-top: 35px;
    margin-left: -30px;
  }

  .custom-img-html {
    margin-top: 40px;
    height: 130px;
    width: 7rem;
  }

  .custom-img-css {
    margin-top: 30px;
    height: 150px;
    width: 11rem;
  }

  .custom-img-sql {
    margin-top: 45px;
    height: 110px;
    width: 10rem;
  }

  .custom-img-react {
    margin-top: 45px;
    height: 135px;
    width: 13rem;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1399px) {
  .square-size {
    width: 18rem;
    height: 18rem;
  }

  .custom-skills-h1 {
    margin-top: -150px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    letter-spacing: 4px;
    margin-bottom: 60px;
    font-size: 2.5rem;
  }

  /* .custom-skills-awal {
    left: 50%;
    transform: translate(-50%);
    width: 100%;
  } */

  .custom-img {
    height: 180px;
    width: 22rem;
    margin-left: -2rem;
    margin-top: 50px;
  }

  .custom-img-html {
    margin-top: 60px;
    height: 170px;
    width: 9rem;
  }

  .custom-img-css {
    margin-top: 50px;
    height: 190px;
    width: 14rem;
  }

  .custom-img-sql {
    margin-top: 60px;
    height: 150px;
    width: 14rem;
  }

  .custom-img-react {
    margin-top: 60px;
    height: 150px;
    width: 14rem;
  }
}

@media screen and (min-width: 1400px) {
  .square-size {
    width: 18rem;
    height: 18rem;
  }

  .custom-skills-h1 {
    margin-top: -100px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    letter-spacing: 4px;
    margin-bottom: 60px;
    font-size: 2.5rem;
    position: relative;
  }

  .custom-skills-awal {
    bottom: 80px;
    left: 50%;
    transform: translate(-50%);
    width: 100%;
  }

  .custom-img {
    height: 180px;
    width: 22rem;
    margin-left: -2rem;
    margin-top: 50px;
  }

  .custom-img-html {
    margin-top: 60px;
    height: 170px;
    width: 9rem;
  }

  .custom-img-css {
    margin-top: 50px;
    height: 190px;
    width: 14rem;
  }

  .custom-img-sql {
    margin-top: 60px;
    height: 150px;
    width: 14rem;
  }

  .custom-img-react {
    margin-top: 60px;
    height: 150px;
    width: 14rem;
  }
}
